.header {
  padding-top: 45px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    display: flex;
    column-gap: 25px;
    align-items: center;
  }
  &__logo{
    width: 80px;
  }
  &__right {
    display: flex;
    column-gap: 48px;
    align-items: center;
  }
  &__link {
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    transition: 0.5s;
    &::before{
      content: '';
      position: absolute;
      height: 3px;
      background: white;
      right: 0;
      bottom: -7px;
      transition: 0.5s;
    }
    &:hover{
      &::before{
        left: 0;
        width: 100%;
        transition: 0.5s;
      }
    }
  }
}